@layer base {
  button,
  [role="button"],
  a[href] {
    cursor: pointer;
  }

  :disabled,
  [aria-disabled="true"] {
    cursor: not-allowed;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition-duration: 0.01ms !important;
    }
  }
}
